<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzrenfeng.jenkin.broadcasttest">

    <!-- 获取用户权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 获取开机启动权限 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <data android:scheme="file"></data>
            </intent-filter>
            -->

        </receiver> <!-- enabled-表示是否启用这个广播接收器；exported-表示是否允许这个广播接收器接收本程序以外的广播 -->
        <!-- android:permission="android.permission.RECEIVE_BOOT_COMPLETED" android:installLocation="internalOnly" -->

        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">    <!-- 设定该广播的优先级 -->
                <action android:name="com.zzrenfeng.jenkin.broadcasttest.MY_BROADCAST" />
            </intent-filter>
        </receiver>  <!-- 发送自定义广播 -->
    </application>

</manifest>